/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
    width: 95%;
    margin: 0 auto;
}

/* Navbar styling */

nav {
    text-align: center;
    vertical-align: middle;
}

nav a {
    color: grey;
    text-decoration: none;
    width: 10%;
    margin: 0 1%;
    display: inline-block;
}

nav img {
    margin: 0 2%;
}

/* header styling */

header {
    margin: 50px auto 100px auto;
}

.slogan-section {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 45%;
}

h1 {
    font-size: 66px;
}

.slogan-section a {
    color: grey;
    border: 1px solid grey;
    padding: 0 30px;
}

header img {
    width: 45%;
    vertical-align: middle;
}

/* Style the first group of sections */

#group-one section {
    width: 45%;
    display: inline-block;
    margin: 4%;
}

/* Style the middle image */

.middle-img {
    width: 100%;
    margin-bottom: 35px;
}

/* Style the second group of sections */

#group-two {
    margin-bottom: 40px;
}

#group-two section {
    width: 31.5%;
    display: inline-block;
    margin: 1%;
}

/*
   Make the first and last elements of the groups bump right up
   against the edge
*/
#group-one :first-child, #group-two :first-child {
    margin-left: 0px;
}
#group-one :last-child, #group-two :last-child {
    margin-right: 0px;
}


/* Style footer */

footer {
    margin: 40px 0;
}

address {
    margin-bottom: 30px;
}

#copyright {
    text-align: center;
}
